<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div><br>
  <div class='field'>
    <%= f.label 'Members' %>
    <%= f.select :members, options_for_select(@users.map(&:email)), {}, {:multiple => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
